@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/*
    font-family: 'PT Sans', sans-serif;
    font-weight: 400, 700;
*/   

*{
    padding: 0;
    margin: 0;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;  
}

#slogan {
    position: relative;
    text-align: center;
    z-index: 1  ;
    font-size: 50px;
    top: 200px;

    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

#bg {
    /* The image used */
    background-image: url("../assets/bg.png");

    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
        background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#install {
    text-align: center;
    position: relative;
    top: 50px;
}

.center {
    text-align: center;
}

.code_block {
    font-family: 'Roboto Mono';

    border-radius: 10px;
    background: #d3d3d3;
    padding: 40px; 
    display: inline-block;

    font-size: 14px ;

    padding: 10px;

    text-align: center;
    position: relative;
}

.copy-ico{
    height: 24px;
}

.copy-btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

purple {
    font-family: 'Roboto Mono';
    color: hsl(289.0, 50%, 50%);
}

gray {
    font-family: 'Roboto Mono';
    color: rgb(119, 119, 119);
}

orange {
    font-family: 'Roboto Mono';
    color: rgba(255, 115, 0, 0.699);
}

green {
    font-family: 'Roboto Mono';
    color: rgb(152, 255, 56);
}

blue {
    font-family: 'Roboto Mono';
    color: rgb(3, 61, 253);
}

yellow {
    font-family: 'Roboto Mono';
    color: rgb(219, 186, 0);
}

@media screen and (max-width: 630px) {
    #bg {
        top: -130px;
    }
    #slogan {
        top: 60px;
    }
}